.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}

.logo {
    width: 100px;
}


.navitems>ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    font-size: 20px;
}

.navitems>ul>li {
    padding: 10px;
    margin: 10px;
}


.resutrant-card {
    margin: 5px;
    padding: 5px;
    width: 300px;
    background-color: #f0f0f0f0;
    box-sizing: border-box;

    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex-wrap: wrap;

}

.resutrant-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {}

.card-img {
    width: 100%;

}

.resturant-container {
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 5px;
    margin: 5px; */
}

.body {
    margin: 0;
    padding: 0;
    /* background-color: red; */
    margin-left: 15px;
}

.filter-button{
    /* margin: 10px; */
    cursor: pointer;
    display: flex;
    margin-left: 20px
   
}

.login-button{
    padding:0 10px;
margin: auto;
    height: 40px;
    width:50px
}

.filter{
    display: flex;
    
}